{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="authentification_background">
        <section class="container">
            <div class="form-group">
                <div class="form-class">
                    <div class="m-4 m-4">
                        {% if error %}
                            <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <p class="pt-3 text-center form-title"><strong>Login</strong></p>
                        <label for="inputUsername">Pseudo</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="border-better input-form form-control" input-form autocomplete="username" required autofocus>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="border-better input-morm form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="text-center">
                        <button class="border-better btn btn-primary" type="submit">
                            Connexion
                        </button>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    </div>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
