{% extends 'base.html.twig' %}

{% block body %}

{% if trick.mainMedia %}
<div class="hero-image-trick" style="background-image: 
linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.198)), 
url(/images/avatars/{{ trick.mainMediaUrl }});">
{% elseif trick.medias | length > 0  %}
    <div class="hero-image-trick" style="
background-image: 
linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.198)),
url(/images/avatars/{{trick.medias.first.url}});">
{% else %}
    <div class="hero-image-trick" style="
background-image: 
linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.198)),
url(/images/snowboard_header.jpg);">
{% endif %}
    <div class="d-flex flex-row-reverse">
        <div class="pt-1 pb-2 pl-2 pr-2 m-3 bg-white border-better" style="border-radius:10px;">
        {% if trick.mainMedia %}
        <a href ="/edit-trick/{{trick.id}}/#edit-trick"><i class="p-1 text-secondary bi bi-pen bg-white" style="border-radius:10px;"></i></a>
        <a href ="/edit-trick/delete-main-media/{{trick.id}}"><i class="p-1 text-danger bi bi-trash bg-white" style="border-radius:10px;"></i></a>
        {% else %}
        <a href ="/edit-trick/{{trick.id}}/#edit-trick"><i class="p-1 text-secondary bi bi-pen bg-white" style="border-radius:10px;"></i></a>
        {% endif %}
        </div>
    </div>
    <div class="hero-text" >        
        <h1 class="style">{{ trick.name }}</h1>
    </div>
</div>
<div id="button-load" class="text-center p-3">
    <button onclick="loadMedia()"id="load-media" class="btn btn-primary">See More</button>
</div>
<div id='media-video' class='media-video-hide'>
    <div class="d-flex justify-content-center flex-wrap  container-fluid">
        {% for media in trick.medias %}
        <div class="card2 m-2 fill" style"border:0px rgba(0,0,0,.0)">
            <div class="fill">
                <a href="/images/avatars/{{media.url}}"><img width="auto" height="300" src="/images/avatars/{{media.url}}" alt="{{ media.name }}"></a>
            </div>
            <div class ="d-flex justify-content-center ">
                <div class="pt-1 pb-2 pl-2 pr-2 m-3 bg-white border-better" style=" border-radius:10px;">
                    <a href ="/edit-media/{{media.id}}"><i class="p-1 text-secondary bi bi-pen bg-white" style="border-radius:10px;"></i></a>
                    <a href="/edit-trick/delete-media/{{ media.id}}"><i class="p-1 text-danger bi bi-trash bg-white" style="border-radius:10px;"></i></a>
                </div>
            </div>
        </div><br>
        {% endfor %}
        {% for video in trick.videos %}
        <div class="card2 m-2 ">
            <iframe width="auto" height="300" src="{{video.url}}"> </iframe>
            <div class ="d-flex justify-content-center ">
                <div class="pt-1 pb-2 pl-2 pr-2 m-3 bg-white border-better" style=" border-radius:10px;">
                    <a href ="/edit-video/{{video.id}}"><i class="p-1 text-secondary bi bi-pen bg-white" style="border-radius:10px;"></i></a>
                    <a href="/edit-trick/delete-video/{{ video.id}}"><i class="p-1 text-danger bi bi-trash bg-white" style="border-radius:10px;"></i></a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
<div id="button-hide"class="hidden">
    <button onclick="hideMedia();"id="hide-media;" class="btn btn-primary">See Less</button>
</div>
    <div class="container">
        <p> {{ trick.description }} <p>
    </div>
<div class="container">
    <div class="d-flex justify-content-center flex-wrap ">
        <div>
        <p style="padding:1rem">Catégorie : {{trick.getCategory().name}} </p>
        </div>
        {% if (trick.createdAt == trick.updatedAt ) %}
        <p style="padding:1rem">Créé le : {{trick.createdAt  | format_date() }}</p>  
        {% else %}
        <p style="padding:1rem"> Créé le : {{ trick.createdAt  | format_date() }}</p>
        <p style="padding:1rem"> Dernière mise à jour : {{ trick.updatedAt  | format_date() }}</p>             
        {% endif %}

    </div>
</div>

    <div class="d-flex justify-content-center flex-wrap  container-fluid">
        <div class="container d-flex justify-content-left align-items-center flex-wrap pt-2 pb-2 pl-5 pr-5">
            <div class="form-group">
                    <div class="m-4 m-4" id="edit-trick">
                    <h2> Mettre à jour les informations du Trick :</h2>
                        {{ form_start(editTrickForm) }}
                            <div>Nom du Trick :</div>
                            <div>{{ form_row(editTrickForm.name)}}</div><br>
                            <div>Description :</div>
                            <div>{{ form_row(editTrickForm.description)}}</div><br>
                            <div>Sélectionner la catégorie du trick :</div>
                            <div>{{ form_row(editTrickForm.category)}}</div><br>
                            <div>Sélectionner une illustration principal :</div>
                            <div>{{ form_row(editTrickForm.mainMedia)}}</div><br>
                            <h2> Ajouter une illlustration :</h2>
                            <div>{{ form_row(editTrickForm.upload_file)}}</div><br>
                            <h2> Ajouter une Vidéo :</h2>
                            <p> Nom de la vidéo </p>
                            <div>{{ form_row(editTrickForm.video_name)}}</div><br>
                            <p>url de la video</p>
                            <div>{{ form_row(editTrickForm.video_url)}}</div><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center flex-wrap pt-2 pb-2 pl-5 pr-5">
        {{ form_end(editTrickForm) }}
        <a href="/delete-trick/{{ trick.id}}"><div class="border-better btn btn-danger">Supprimer</div></a>
        </div>
    </div>
    
    <script>

    function loadMedia() {
            document.getElementById("media-video").className  = "media-video";
            document.getElementById("button-load").className  = "hidden";
            document.getElementById("button-hide").className  = "text-center p-3";
            
    }
        function hideMedia() {
            window.scrollTo(top)
            document.getElementById("media-video").className = ('media-video-hide');
            document.getElementById("button-load").className  = "text-center p-3";
            document.getElementById("button-hide").className  = "hidden";

            
    }
</script>
{% endblock %}