{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="style">Welcome in Snowtrick <br> The Freshest PUFF Station</h1>
    </div>
    <a href ="/#tricks">
    <div class="bottom-right-con">
        <div class="round">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    </a>
</div>
</div>

<br><br>
<section id='tricks'>
    <div  id="trickList" class="d-flex justify-content-center flex-wrap  container-fluid">
    {% for trick in tricks %}
    <div class="card m-2">
        <img class="card-img-top" src="/images/snowboard_header.jpg" alt="Card image cap">
            <div class="card-body d-flex">
            <p class="me-auto"><a href="trick/{{ trick.id }}/{{ trick.slug }}">{{trick.name }}</a></p>
            <p><a href="edit-trick/{{ trick.id}}"> <i class="text-secondary bi bi-pen"></i></a></p>
            <p><a href="delete-trick/{{ trick.id}}"><i class="text-danger bi bi-trash"></i></a></p>
            </div>
        </div>
    {% endfor %}
    </div>
</section>
<div class="text-center">
    <button id="loadMoreTricks" class="btn btn-primary">Load More</button>
</div>
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    click = 0;
    function loadMoreTricks(event) {
        event.preventDefault();
        click++;
        var start = 5 * click;
        const url = " {{ url('loadMoreTricks') }}" + start;
        axios.get(url).then(function(response) {
            console.log(response);
            $("#trickList").append(response.data);
            $("#arrow-up").show();
        });
    }
    document.getElementById("loadMoreTricks").addEventListener("click", loadMoreTricks);
</script>
{% endblock %}
