{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-image">
  <div class="hero-text">
    <h1 classe="large strong">Welcome in SNOWTRICK <br> The freshest PUFF Station</h1>
  </div>
</div>

<section class="article">
    {% for trick in tricks %}
        <article>
        <p><a href="trick/{{ trick.id }}/{{ trick.slug }}">{{trick.name }}</a></p>
        <p>Créé le {{ trick.createdAt | date('d/m/Y')}}</p>
        <p><a href="edit-trick/{{ trick.id}}"> Modifier</a></p>
        <p><a href="delete-trick/{{ trick.id}}"> Supprimer</a></p>
        </article>
    {% endfor %}
</section>

{% endblock %}
